<nav class="wp-header navbar navbar-expand-lg navbar-light bg-light p-0 bg-primary">
  <a class="main-logo-container navbar-brand p-0 px-3" href="#">
    <img src="../assets/images/wp-header-logo.png" height="55" width="210"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-center mx-auto" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-logo mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Psicólogos Clínicos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Psicología</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Inicia Sesión</a>
      </li>
    </ul>
  </div>
</nav>
