<div class="wp-search-psycho-and-login-user-mb">
  <div class="container">
    <div class="primary-round-container row">
      <div class="col-sm pt-3">
        <span>Encuentra a tu psicólogo y toma tu primera terapia gratis.</span>
      </div>
      <div class="col-sm pt-2">
        <input class="search-text form-control">
      </div>
      <div class="col-sm pt-0 pb-2">
        <button type="button" class="btn btn-outline-light ml-3">
          <img src="../../assets/images/white-arrow-icon-png-13.png" alt="">
          <span class="pl-2">Todos los filtros</span>
        </button>
      </div>
    </div>
    <div class="secondary-round-container row">
      <div class="col-sm">
        ¿Eres psicólogo?
      </div>
      <div class="col-sm">
        <span>!Registrate!</span>
      </div>
      <div class="col-sm">
        <a>o Inicia sesión</a>
      </div>
    </div>
  </div>
</div>
