<div class='container-fluid px-0'>
  <div class='col-12 px-0'>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="../assets/images/colorful-1844727_1920.jpg" alt="Presentación 1" class="w-100">
        <div class="carousel-caption">
          <h3 style="color: yellow">Presentación 1</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../assets/images/adventure-1850912_1920.jpg" alt="Presentación 2" class="w-100">
        <div class="carousel-caption">
          <h3 style="color: yellow">Presentación 2</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../assets/images/people-2585733_1920.jpg" alt="Presentación 3" class="w-100">
        <div class="carousel-caption">
          <h3 style="color: yellow">Presentación 3</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
