<div class="wp-entrance-primary-carousel">
  <div class='container-fluid px-0'>
    <div class='col-12 px-0'>
      <ngb-carousel>
        <ng-template ngbSlide>
          <div style="position: relative">
            <img src="../assets/images/entrance-primary-carousel-preset-dt-1.jpg" alt="Presentación 1" class="w-100">
            <div style="position: absolute; top:100px; right: 100px;" class="text-light text-center">
              <h2>
                "Tú eres aquello que haces,
                <br>
                no aquello que dices que harás".
                <br>
              </h2>
              <i style="font-variant-caps: small-caps; font-size: x-large">
                C. G. Jung
              </i>
            </div>
          </div>
          <div class="carousel-caption row d-flex justify-content-center">
            <!--<div style="background-color: #3681a1; border-radius: 75px; width:780px">-->
            <div style="background-color: #a2d4da; border-radius: 75px; width:780px; height: 140px" class="align-middle">
              <div style="background-color: #3681a1; border-radius: 75px; width:610px; height: 140px;">
                Encuentra a tu psicólogo y toma tu primera terapia gratis.
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/images/entrance-primary-carousel-preset-dt-2.jpg" alt="Presentación 2" class="w-100">
          <div class="carousel-caption">
            <h3 style="color: yellow">Presentación 2</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/images/entrance-primary-carousel-preset-dt-3.jpg" alt="Presentación 3" class="w-100">
          <div class="carousel-caption">
            <h3 style="color: yellow">Presentación 3</h3>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
