<div class="wp-search-psycho-and-login-user align-middle">
  <div class="primary-round-container align-middle">
    <div class="secondary-round-container container">
      <div class="row">
        <div class="col-10">
          <div class="row pt-4">
            <span>Encuentra a tu psicólogo y toma tu primera terapia gratis.</span>
          </div>
          <div class="row pt-3">
            <input class="search-text form-control">
            <button type="button" class="btn btn-info ml-3">Todos los filtros</button>
          </div>
        </div>
        <div class="col-2">
          <div class="secondary-column row pt-4">
            <span>¿Eres psicólogo?</span>
            <span style="font-size: x-large">¡Registrate!</span>
            <span><u>o inicia sesión</u></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
