<div class="wp-landing-primary-carousel">
  <div class='container-fluid px-0'>
    <div class='col-12 px-0'>
      <ngb-carousel>
        <ng-template ngbSlide>
          <div style="position: relative">
            <img src="../assets/images/landing-primary-carousel-preset-dt-1.png" alt="Presentación 1" class="carousel-slide-dt w-100">
            <img src="../assets/images/landing-primary-carousel-preset-mb-1.png" alt="Presentación 1" class="carousel-slide-mb w-100">
            <div class="text-light text-center carousel-legend-slide-1">
              <h2>
                "Tú eres aquello que haces,
                <br>
                no aquello que dices que harás".
                <br>
              </h2>
              <h5>
                "Tú eres aquello que haces,
                <br>
                no aquello que dices que harás".
                <br>
              </h5>
              <i style="">
                C. G. Jung
              </i>
            </div>
          </div>
          <div class="carousel-caption row d-flex justify-content-center">
            <app-search-psycho-and-login-user></app-search-psycho-and-login-user>
            <app-search-psycho-and-login-user-mb></app-search-psycho-and-login-user-mb>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div style="position: relative">
            <img src="../assets/images/landing-primary-carousel-preset-dt-2.png" alt="Presentación 1" class="carousel-slide-dt w-100">
            <img src="../assets/images/landing-primary-carousel-preset-mb-2.png" alt="Presentación 1" class="carousel-slide-mb w-100">
            <div class="text-center carousel-legend-slide-2">
              <h2>
                "La ciencia moderna aún no ha producido un medicamento
                <br>
                tan eficaz como unas pocas palabras bondadosas".
                <br>
              </h2>
              <h5>
                "La ciencia moderna aún no ha producido un medicamento
                <br>
                tan eficaz como unas pocas palabras bondadosas".
                <br>
              </h5>
              <i style="">
                Sigmund Freud
              </i>
            </div>
          </div>
          <div class="carousel-caption row d-flex justify-content-center">
            <app-search-psycho-and-login-user></app-search-psycho-and-login-user>
            <app-search-psycho-and-login-user-mb></app-search-psycho-and-login-user-mb>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div style="position: relative">
            <img src="../assets/images/landing-primary-carousel-preset-dt-3.png" alt="Presentación 1" class="carousel-slide-dt w-100">
            <img src="../assets/images/landing-primary-carousel-preset-mb-3.png" alt="Presentación 1" class="carousel-slide-mb w-100">
            <div class="text-light carousel-legend-slide-3">
              <h2>
                "Lo que las personas sienten
                <br>
                es tan importante
                <br>
                como lo que hacen".
                <br>
              </h2>
              <h5>
                "Lo que las personas sienten
                <br>
                es tan importante
                <br>
                como lo que hacen".
                <br>
              </h5>
              <i style="">
                B.F. Skinner
              </i>
            </div>
          </div>
          <div class="carousel-caption row d-flex justify-content-center">
            <app-search-psycho-and-login-user></app-search-psycho-and-login-user>
            <app-search-psycho-and-login-user-mb></app-search-psycho-and-login-user-mb>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
